h1{

}

button {
  border: 1px solid cornflowerblue;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 20px;
  background-color: white;
  color: cornflowerblue;
}

button:hover {
  background-color: cornflowerblue;
  color: cornflowerblue;
}
